<html>

<head>

    <title>Crud Application</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
      <link href="{{url_for('static', filename = 'css/listcss.css')}}" rel="stylesheet">

<link rel="shortcut icon" href="{{url_for('static', filename = 'teacher.png' )}}">

</head>

<body>


<div class="container">
